body{
    background-color: hsl(0, 0%, 100%);
    background-image: url("https://thefederal.com/file/2020/05/Enterprise-Artificial-Intelligence-Adoption-NE20-019-650-696x392.jpg");
    background-attachment: fixed;
    background-size: cover;
}